/* Bootstrap extensions */
.mt-6 { margin-top: 60px; }
.mb-6 { margin-bottom: 60px; }
.mr-6 { margin-right: 60px; }
.ml-6 { margin-left: 60px; }

.pointer {
    cursor: pointer;
}

body {
    position: relative;
}

.section-header {
    display: inline-block;
    padding-top: 10px;
    border-bottom: solid 5px #f56a6a; 
}
.footer-header {
    display: inline-block;
    padding-top: 10px;
    border-bottom: solid 5px white; 
}
div.jumbotron {
    border-radius: 0;
}

p, small {
    font-family: 'Open Sans';
}
.has-error {
    color: red;
}
.cropped {
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.Medium-Thumbnail {
    height: 200px;
    width: 300px;
}
.XLarge-Thumbnail {
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 600px;
}
@media only screen and (max-width: 1100px) {
    .XLarge-Thumbnail {
        min-height: 400px;
        min-width: 200px;
        max-height: 400px;
        max-width: 400px;
    }
}
.Detail-Thumbnail {
    height: 150px;
    width: 140px;
    background-position: center;
}
@media only screen and (max-width: 1350px){
    .Detail-Thumbnail {
        height: 150px;
        max-width: 90px;
        min-width: 70px;
    }
}
@media only screen and (max-width: 990px){
    .Detail-Thumbnail {
        height: 150px;
        max-width: 140px;
        min-width: 70px;
    }
}
@media only screen and (max-width: 576px) {
    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xs-4 {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-xs-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }
    .col-xs-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }
    .col-xs-8 {
        flex: 0 0 66%;
        max-width: 66%;
    }
    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
#secondary-articles > article:not(:first-child):not(:last-child){
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    padding-left: 1%;
    padding-right: 1%;
}

.main-icon {
    color: #f56a6a;
}
.admin-nav-icon {
    color: #e6e6e6;
}
@media only screen and (min-width: 576px) {
    .sidebar {
        background-color: rgb(245, 246, 247);
        min-height: 100vh;
    }
}

@media only screen and (max-width: 576px) {
    .sidebar {
        background-color: rgb(245, 246, 247);
    }
}
footer {
    background-color: #f56a6a;
}
.title {
    font-family: 'Roboto Slab';
    font-weight: bold;
}
.nav-item:hover {
    background-color: rgba(265, 265, 265, 1);
    cursor: pointer;
}
.nav-item:hover p {
    color: black;
}

/* Lists */
li.list-group-item {
    background-color: rgb(245, 246, 247);
}

/* Footer styles */
footer {
    color: white;
}
footer ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
footer a {
    color: white;
    cursor: pointer;
}
