/* Bootstrap extensions */
.mt-6 { margin-top: 60px; }
.mb-6 { margin-bottom: 60px; }
.mr-6 { margin-right: 60px; }
.ml-6 { margin-left: 60px; }

.pointer {
    cursor: pointer;
}

body {
    position: relative;
}

.section-header {
    display: inline-block;
    padding-top: 10px;
    border-bottom: solid 5px #f56a6a; 
}
div.jumbotron {
    border-radius: 0;
}

p, small {
    font-family: 'Open Sans';
}

.cropped {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-icon {
    color: #f56a6a;
}
.admin-nav-icon {
    color: #e6e6e6;
}
.sidebar {
    background-color: rgb(245, 246, 247);
    min-height: 100vh;
}
.title {
    font-family: 'Roboto Slab';
    font-weight: bold;
}

/* Lists */
li.list-group-item {
    background-color: rgb(245, 246, 247);
}