.cropped {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-icon {
    color: #f56a6a;
}
#sidebar {
    background-color: rgb(245, 246, 247);
}
.title {
    font-family: 'Roboto Slab';
    font-weight: bold;
}